.main-heading {
    text-align: center;
    text-decoration: underline;
    background-color: black;
    color: white;
}

.sub-heading {
    text-decoration: underline;
    background-color: black;
    color: white;
}

.recipe {
    font-size: 25px;
}

p, li {
    font-size: 25px;
}